@font-face {
    font-family: 'Gilroy Light';
    src: url("styles/Gilroy-Light.otf");
    font-style: normal;
    font-weight: 100%;
}

* {
    font-family: Gilroy Light, sans-serif;
    font-size: 14px;
}

.logo {
    display: block;
    margin: auto;
}

.search-section {
    display: flex;
    justify-content: center;
}

#search-text {
    width: 575px;
    height: 3em;
    border-radius: 25px;
}