@font-face {
    font-family: 'Gilroy Light';
    src: url("styles/Gilroy-Light.otf");
    font-style: normal;
    font-weight: 100%;
}

* {
    font-family: Gilroy Light, sans-serif;
    font-size: 14px;
}

.logo {
    display: block;
    margin: auto;
}

.search-section {
    display: flex;
    justify-content: center;
}

#search-container {
    flex: 1 1 575px;
    border: 1px solid rgba(204, 204, 204, 0.507);
    border-radius: 25px;
    overflow: hidden;
    width: 575px;
    height: 2.9em;
    margin: auto;
    max-width: 90%;
  }

#search-container:hover {
    box-shadow: 0 0 10px rgba(204, 204, 204, 0.507);
}

#search-text {
    border: 0;
    flex: 1;
}

  /*  alternative!

#search-text {
    width: 575px;
    height: 3.2em;
    border: 1px solid #ccc;
    border-radius: 25px;
}

*/

i {
    color: rgb(180, 180, 180);
    padding: 1rem;
    position: relative;
    bottom: 0.09rem;
}