/* an alternative font choice!

@font-face {
    font-family: 'Gilroy Light';
    src: url("styles/Gilroy-Light.otf");
    font-style: normal;
    font-weight: 100%;
}

*/

::before, ::after {
    box-sizing: border-box;
}

html, button {
    font-family: Arial, 'Montserrat', sans-serif;
    font-size: 0.9em;
    color: rgb(53, 53, 53)
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

li {
    margin: 0.9rem;
    list-style-type: none;
}

input {
    font-family: Arial, 'Montserrat', sans-serif;
    font-size: 1.15em;
}

button {
    font-size: 1em;
}

/* nav bar on tops! */

.top-nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.top-left-nav, .top-right-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#about {
    margin-left: 2rem;
    margin-right: 0.5rem;
}

.top-right-link1 {
    font-size: 0.95em;
    margin: 0 0.6rem;
}

.empty-space1 {
    flex: 1;
}

#sign-in {
    background-color: rgb(51, 123, 230);
    color: white;
    font-size: 14px;
    padding: 0.65rem 2rem 0.85rem;
    border: 0;
    border-radius: 5px;
}

.top-left-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.top-right-link1:hover {
    text-decoration: underline;
    cursor: pointer;
}

#app-icon:hover {
    padding: 0.6rem;
    background-color: rgba(128, 128, 128, 0.178);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

#sign-in:hover {
    background-color: rgba(51, 123, 230, 0.932);
    box-shadow: 0 1px 1px rgba(51, 123, 230, 0.932);
    cursor: pointer;
    text-decoration: none;
}

/* middle of the page! */

.mid-section {
  /*  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); -- first attempt at centering it -- */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-space2 {
    flex: 1;
}

.logo {
    margin-bottom: 2rem;
}

.search-section {
    display: flex;
    justify-content: center;
}

#search-container {
    border: 1px solid rgba(189, 189, 189, 0.507);
    border-radius: 25px;
    overflow: hidden;
    width: 42rem;
    height: 3.3em;
    margin: auto;
    max-width: 90%;
  }

#search-container:hover {
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.507);
}

input:focus {
    outline: none;
}

#search-text {
    border: 0;
    flex: 1;
}

  /* first try, didn't work, but an alternative!

#search-text {
    width: 575px;
    height: 3.2em;
    border: 1px solid #ccc;
    border-radius: 25px;
}

*/

i {
    color: rgb(180, 180, 180);
    padding: 1.2rem;
    position: relative;
    bottom: 0.1rem;
}

.search-button1, .search-button2 {
    background-color: rgba(203, 221, 233, 0.137);
    border: 0;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border-radius: 5px;
    margin: 2.2rem 0.5rem 2.2rem;
}

.search-button1:hover {
    border: 1px solid rgba(189, 189, 189, 0.507);
    box-shadow: 0 1px 2px rgba(189, 189, 189, 0.507);
    cursor: pointer;
    margin: 2.1rem 0.45rem;
}

.search-button2:hover {
    border: 1px solid rgba(189, 189, 189, 0.507);
    box-shadow: 0 1px 2px rgba(189, 189, 189, 0.507);
    cursor: pointer;
    margin: 2.1rem 0.45rem;
}

.francais {
    font-size: 13px;
}

.francais-link {
    text-decoration: none;
}

.francais-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* bottom nav bar! */

.bottom-nav-bar {
   /* position: fixed;
    bottom: 0;
    width: 100%; -- first attempt at getting it to the bottom of the page -- */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding:0.3rem;
    background-color: rgba(189, 189, 189, 0.199);
    color: rgb(107, 107, 107);
}

.bottom-nav-left, .bottom-nav-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav-link1:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bottom-nav-link2:hover {
    text-decoration: underline;
    cursor: pointer;
}